.feature-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
}
.features {
  padding: 96px 0;
  max-width: 768px;
  min-width: 320px;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  display: flex;
  flex-direction: column;
  /*width: 264px;*/
  gap: 8px;
}
.feature-text {
  font-weight: 500;
}
.features-back {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}
.features-icon {
  position: absolute;
  top: 24px;
  left: 100px;
}
@media (min-width: 768px) {
  .features {
    max-width: 1158px;
    min-width: 768px;
    margin: 0 auto;
  }
  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .features-item {
    max-width: 356px;
  }
}
