.feature-caption {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: #2e2f42;
  text-align: center;
}
.features .container {
  padding: 96px 16px;
  max-width: 768px;
  min-width: 320px;
  margin: 0 auto;
}

.features-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.features-item {
  display: flex;
  flex-direction: column;
  /*width: 264px;*/
  gap: 8px;
}
.feature-text {
  font-weight: 500;
}
.features-back {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: relative;
  width: 264px;
  height: 112px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
}
.features-icon {
  position: absolute;
  top: 24px;
  left: 100px;
}
@media (min-width: 768px) {
  .features .container {
    max-width: 1158px;
    min-width: 768px;
    margin: 0 auto;
  }
  .features-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: center;
  }
  .features-item {
    max-width: 356px;
  }
}
@media (min-width: 1158px) {
  .features .container {
    max-width: 1158px;
    padding: 120px 15px;
  }
  .features-item {
    display: flex;
    flex-direction: column;
    /*position: relative;*/
    width: 264px;
    gap: 8px;
  }
  .features-list {
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 24px;
    justify-content: center;
  }

  .features-back {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
  }
  .feature-caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }
  .feature-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
