.hero {
  max-width: 768px;
  min-width: 320px;
  height: 432px;
  margin: 0;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/mobi-hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #fff;
  max-width: 320px;
}
.btn {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media (min-width: 768px) {
  .hero {
    max-width: 1158px;
    min-width: 768px;
    height: 600px;
    background-image:
      linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url("../images/hero-bg.jpg");
  }
  .hero .container {
    gap: 36px;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    max-width: 496px;
  }
}
@media (min-width: 1158px) {
  .hero {
    max-width: 100%;
  }
  .hero .container {
    gap: 48px;
  }
}
