.hero {
  margin: 0;
  background-color: #2e2f42;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    image-set(
      url("../images/mobi-hero-bg.jpg") 1x,
      url(../images/hero-bg.jpg) 2x
    );
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin-top: 0;
  padding: 72px 0;
  gap: 72px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #fff;
  width: 216px;
}
.btn {
  background-color: #4d5ae5;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  justify-content: center;
  border-radius: 4px;
  padding: 16px 32px;
  transition: background-color 250ms;
}
.btn:hover,
.btn:focus {
  background-color: #404bbf;
}
@media (min-width: 768px) {
  .hero .container {
    gap: 36px;
    padding: 112px 0;
  }
  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    color: #fff;
    max-width: 496px;
  }
}
@media (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    margin: 0 auto;
  }
  .hero .container {
    gap: 48px;
    padding: 188px 0;
    margin: 0 auto;
  }
}
