.team {
  background-color: #f4f4fd;
  padding: 120px 0;
}
.team-ava {
  display: block;
}

.team-list {
  display: flex;
  gap: 24px;
  padding-top: 72px;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  color: #2e2f42;
}
.team-item {
  background-color: #fff;
  display: block;
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.team-dis {
  display: flex;
  flex-direction: column;
  padding: 32px 16px;
  gap: 8px;
  justify-content: center;
}
.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.team-role {
  text-align: center;
}
